{% extends 'base.html' %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">{% block title %} Nova Nota {% endblock %} </h1>

<form method="post">
    <div class="form-group">
        <label for="title">Titulo Nota</label>
        <input type="text" name="title"
               placeholder="Post title" class="form-control"
               value="{{ request.form['title'] }}" ></input>
    </div>
    <div class="form-group">
        <label for="content">Conteudo Nota</label>
        <textarea name="content" placeholder="Post content"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Gravar</button>
    </div>

</form>
{% endblock %}